body {
    background-color: #1c1c24;
    font-size: 1m;
    font-family: Arial, Helvetica, sans-serif;
}
.parentDiv {
    background-color: #bfc0c1;
    border-radius: 25px;
    margin-top: 1.5rem;
    margin-left: 20rem;
    margin-right: 20rem;
    display: flex; 
}
.childDiv {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.2rem;
  }
#instructions {
    background-color: #bfc0c1;
    border-radius: 25px 0px 0px 25px;
    flex: 1.5;
}
#instructions h1 {
    text-align: center;
}
#instructions img {
    height: 21rem;
}

#downloadMenu {
    background-color: #ececec;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    flex: 1;
}
#downloadMenu p {
    text-align: center;
    padding-right: 14rem;
}
#urlInput {
    background-color: #1c1c24; /* Background color */
    color: #ececec;          /* Text color */
    text-decoration: none;  /* Remove underline */
    display: inline-block; /* Make it behave like a block element */
    border: none;          /* Remove border */
    cursor: pointer;       /* Change cursor to pointer */
    padding: 0.90rem 4.5rem;   /* Add padding for size */
    margin-top: 0.1rem;
    border-radius: 5px;   /* Rounded corners */
    text-align: left;
}

#downloadLink {
    background-color: #1c1c24; /* Background color */
    color: #ececec;          /* Text color */
    text-decoration: none;  /* Remove underline */
    display: inline-block; /* Make it behave like a block element */
    border: none;          /* Remove border */
    cursor: pointer;       /* Change cursor to pointer */
    transition: 0.3s; /* Smooth transition */
    padding: 0.85rem 6.4rem;   /* Add padding for size */
    margin-top: 0.1rem;
    border-radius: 5px;   /* Rounded corners */

}

#downloadLink:hover {
    background-color: #1c1c24d8; /* Change color on hover */
}
